body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

img {
    display: block;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list:hover {
    color: #404bbf;
}

.nav-list:focus {
    color: #404bbf;
}

.adres {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.adres-list {
    color: #434455;
}

.adres-list:hover {
    color: #404bbf;

}

.adres-list:focus {
    color: #404bbf;
}

.sect-ilk {
    background-color: #2e2f42;

}

.ilkbaslik {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.buttonilk {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.buttonilk:hover {
    background-color: #404BBF;
}

.buttonilk:focus {
    background-color: #404BBF;
}

.ourbaslik {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.featureslist {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sect-third {
    background-color: #f4f4fd;

}

.ourteamheader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-list-li {
    background-color: #ffffff;
}

.teamname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.porfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.footer-logo-span {
    color: #f4f4fd;
}

:root {
    --stil-color: #F4F4FD;
}

.footer-p {
    line-height: 1.5;
    color: var(--stil-color);
    letter-spacing: 0.02em;
}